
<div class="card" *ngIf="image">
    <img [src]="image.url" class="card-img-top" [alt]="image.title">
    <div class="card-body">
        <h3 class="card-title">{{ image.title }}</h3>
        <p class="card-text">ID: {{image.id}}</p>
        <div class="row">
            <div class="col-md-auto">
                <button class="btn btn-outline-secondary" [routerLink]="['/photos',this.image.id,'edit']">Edit</button>
            </div>
            <div class="col-md-auto">
                <button class="btn btn-outline-danger" (click)="onDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="card confirm" *ngIf="response">
    <div class="card-title" style="font-weight: bold; font-size: larger; text-align: center;">Delete this item?</div>
    <div class="card-text">
        <div class="row justify-content-center">
            <div class="col-5">
                <button class="btn btn-outline-success" (click)="confirm('yes')" >Yes</button>
            </div>
            <div class="col-5">
                <button class="btn btn-outline-danger" (click)="confirm('no')">No</button>
            </div>
        </div>
    </div>
</div>
